@import url("./scheme.css");

* {
  font-size: 14px;
  font-weight: 600;
  font-family: "Maple Mono NF"
}

tooltip {
  background: @base00;
  border: 2px solid @base0B;
  border-radius: 0;
  
}

#waybar {
  background: @base01;
  color: @base04;
  border-bottom: 2px solid @base00;
}

.modules-left,
.modules-right,
.module-center {
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#systemd-failed-units,
#tray,
#window {
  padding-left: 16px;
  padding-right: 16px;
}

#battery:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#custom-layout:hover,
#memory:hover,
#mode:hover,
#network:hover,
#pulseaudio:hover,
#systemd-failed-units:hover,
#tray:hover {
  background: @base00;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical,
#system-failed-units.degraded {
  color: @base08;
}

#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  background: @base0A;
  color: @base01;
}

#workspaces button {
  all: unset;
  padding: 0 8px;
}

#workspace button:hover {
  background: @base04;
  color: @base01;
}

#workspaces button.focused,
#workspaces button.visible {
  background: @base04;
  color: @base01;
}

#workspaces button.urgent {
  background: @base09;
  color: @base01;
}

#workspaces button.empty {
  color: @base02;
}

#window {
  color: @base07;
  margin-left: 20px;
}

#mode {
  font-weight: 800;
  background: @base0E;
  color: @base01;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  color: @base0A;
}

#clock {
  font-weight: 900;
}
